/* Estilizando index*/

.textoroxo{
    color: rgb(197, 147, 245);
    text-align: center;
}

.textoimagem{
    text-align: end;
}

.center{
    text-align: center;
}
.container{
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
    
}

.container2{
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
    margin: 20px;
    
}

.menu li{
    display: inline;
    padding: 30px;
}

.menu li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

.menu li a:hover{

    color: blue;
}

.p-30{
    padding: 30px;
}

body{
    background-color: rgb(0, 0, 0);

}

.cortexto{
    color: white;
    
}

.cortexto2{
    color: rgb(245, 229, 10);
    
}

.border{
    border: 3px solid;
    width: 560px;
    margin: 0 auto;
    border-color: yellow;
    
}

