/* Estilizando index*/

.textoroxo{
    color: blueviolet;
    text-align: center;
}

.textoimagem{
    text-align: end;
}

.center{
    text-align: center;
}
.container{
    display: flex;
    flex-flow: row  ;
    justify-content: center;
    align-items: center;
}

.menu li{
    display: inline;
    padding: 30px;
}

.menu li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.menu li a:hover{

    color: blue;
}

.p-30{
    padding: 30px;
}